<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock -%}The Neverland Library</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/neverland.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Neverland Library{% block subtitle %}{% endblock -%}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-tabs">
              {% block nav %}{% endblock %}
            </ul>
        </div>
        </div>
      </div>

    <div class="content container">
      {% with messages = get_flashed_messages() -%}
        <div class="warnings">
      {% if messages -%}
        <ul>
          {% for message in messages -%}
            <li>{{ message }}</li>
          {% endfor -%}
        </ul>
          {% endif -%}
        </div>
      {% endwith -%}

      <div class="content">{% block content -%}{% endblock -%}</div>
    </div>

    <div class="nav navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text">Copyright 2014</p>
        <p class="navbar-text">Built by Patrick Thunstrom.</p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>