body {
    background-color: #9DC6A0;
    margin: 0;
    padding-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 2em;
    background-color: #6EC774;
    padding: 0;
    margin: 0;
}

.page-header {
    position: absolute;
    top: 0px;
    padding: 0px;
}

.content {
    background-color: #FFFBFB;
    height: 100%;
}

.page-header {
    background-color: #6EC774
}

.page-header small {
    color: #978
}